a {
        color: #000;
        text-decoration: none;
        border-bottom: solid 3px;
        }

a:hover {
        color:#F00;
        border-bottom: solid 3px #FFF;
        }

body {
        color: #000;
        }

canvas {
        background: #FFF;
        }

p {
        margin-left:100px;
        margin-right:200px;
        }

.big {
        font-size:32px;
	/* line-height:40px; */
        }

.medium {
        font-size:34px;
        }

.small {
        font-size:10px;
        }

.monaco {
        font-family: Monaco, "Lucida Console", monospace;
        }

.times {
        font-family: "Times New Roman", Times, serif;
        }

.helvetica {
        font-family: Helvetica, Arial, sans-serif;
        }

/* containers */

.mainContainer {
        }

.mainContainer:hover {
        }

.textContainer {
        top: 0px;
        left: 0px;
        /*display: block;*/
        float:left;
        }

.instructionContainer {
        margin-right: 10px;
	}

.symbol {
        }


/* utility */

.thumb {
	width:200px;        
	}
.pad {
	padding:30px;  
	}

.hide {
        visibility: hidden;
        }

.show {
        visibility: visible;
        }


/* added */



/* colors */

.white {
        color: #FFF;
        }

.red {
        color: #F00;
        }

.red a {
	color:#000;
        border-bottom: solid 3px #FFF;
        }

.red a:hover {
        border-bottom: solid 3px #F00;
        }

.black {
        color: #000;
        }

.black a {
        color: #000;
        }
