body { 
	/* workaround for fixed div rendering in safari */
	/*-webkit-font-smoothing: subpixel-antialiased;*/
        color: #000;
        background: #FFF;
	}

a {
        color: #000;
        text-decoration: none;
        border-bottom: solid 3px #000;
        }

a:active {
        text-decoration: none;
        border-bottom: solid 3px;
        }

a:hover {
        color:#FFF;
        border-bottom: solid 3px #FFF;
        }

a:active {
        color: #F00;
        border-bottom: solid 3px #FFF;
        }


/* types */

.monaco {
        font-family: Monaco, "Lucida Console", monospace;
	}

.times {
        font-family: "Times New Roman", Times, serif;
        }

.helvetica {
        font-family: Helvetica, Arial, sans-serif;
        }


/* sizes */

.big {
        font-size:24px;
        line-height:27px;
	}

.medium {
        font-size:17px;
        line-height:19px;
        }

.small {
        font-size:10px;
        line-height:12px;
        }

/* styled */

.underlined {
        border-bottom: solid 3px;
	}


/* contents */

.logo {
        /* workaround for fixed div rendering in safari */
	-webkit-font-smoothing: subpixel-antialiased;
        }

.punctuation {
        font-family: Monaco, "Lucida Console", monospace;
	color: #000;
	}

.control {
	cursor:pointer;
}

.control:hover {
  	background-color:#FFF;
	opacity:.5;
}


/* containers */

.logoContainer {
	z-index:99;
	top: 10px;
        left: 10px;
        float:left;
        padding:20px;
        width: 30%;
	margin-right: 50px;
	margin-bottom: 50px;
        }

.homeContainer {
	position: absolute;
	top: 10px;
	left: 10px;
        overflow: hidden; 
	}

.mainContainer {
	position: absolute;
	top: 200px;
	left: 10px;
	width: 95%;
	padding:20px;
        overflow: hidden; 
	}

.blockContainer {
	position:relative; 
	}

.textContainer {
        top: 0px;
        left: 0px;
        /*display: block;*/
        float:left;
        }

.listContainer {  
	float:left;
	padding-right:2%;
 	padding-bottom:40px;
    	width: 30%;
    	/*
        padding-right:60px;
        padding-bottom:30px;
        width: 300px;
    	*/
	}

.listSmallContainer {  
	float:left;
        padding-right:60px;
        padding-bottom:30px;
        width: 150px;
	}

.galleryContainer {
	position:relative; 
	padding-left:100px;
	padding-right:100px;
	padding-bottom:100px;
	overflow: hidden;
	}

.imageContainer {
	position:relative; 
	}

.imageContainerWrapper {
	float:right;
        }

.captionContainer {
	padding-top: 10px;
	}

.menuContainer {  
	position: fixed;
	bottom: 20px;
	left: 30px;
	width: 500px;	        /* debug for iphone */
	clear: both; 
	}

.newsContainer {
        top: 0px;
        left: 0px;
        float:left;
        padding: 10px;
        width: 10%;
	height: 350px;
	/* overflow:auto; */
        }

.dateContainer {
        top: 0px;
        left: 0px;
        float:left;
        padding: 40px;
        width: 30%;
        }

.instructionContainer {
        margin-right: 6px;
	}

.fullContainer {
	position: fixed;
	width: 100%;
	height: 100%;
        z-index:1000;
	margin: 0px;
	}

.centeredContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 25%;
	margin-left: -10%;
	margin-top: -3%;
        z-index:1000;
	}


/* utility */

.thumb {
	width:200px;        
	}
.pad {
	padding:80px;  
	}

.hide {
        visibility: hidden;
        }

.show {
        visibility: visible;
        }

.clear {
	clear:both;      
        }

.fixed {
	position: fixed;      
        }

.twocolumn {
        width:47%;
        /* width:260px; */
	}

.fourcolumn {
        width:100px;
	}

.doublewide {
        width:58%;
        /*
        padding-right:0px;
        width:660px;
        */
	}

.triplewide {
        width:85%;
	}

.centered {
	margin-left: auto;
	margin-right: auto;        
	}

.floatPad {
        float:left;
        padding:50px;
        width: 50px;
        }

.floatPadwide {
        float:left;
        padding:50px;
        width: 400px;
       }

.animatePunctuation {
	/* add this to animate punctuation in a div */
	}


/* colors */

.black {
        color: #000;
        }

.black a {
        color: #000;
        }

.white {
        color: #FFF;
        }

.white a {
        color: #FFF;
        }

.red {
        color: #F00;
        }
 
.red a {
        color: #F00;
        text-decoration: none;
        border-bottom: solid 3px #F00;
        }

.red a:hover {
        border-bottom: solid 3px #FFF;
        }

.redwhite {
        color: #FFF;
        }

.redwhite a {
        color: #FFF;
        text-decoration: none;
        border-bottom: solid 3px #F00;
        }

.redwhite a:hover {
        border-bottom: solid 3px #FFF;
        }

.greybox {
        background-color: #EEE;
        }

.redbox {
        background-color: #FCC;
        }

.bluebox {
        background-color: #CCF;
        }

.greenbox {
        background-color: #CFC;
        }

.transparent {
	opacity:0.5;
        }
