/*
    jeffrey gibson homepage takeover
    use with video_.php
*/

.fade-bg {
    background-color: #111;
    animation-name: fade-bg;
    animation-timing-function: ease-in;
    animation-duration: 5s;
}

#video {
    width: 75%;
    z-index: 101;
}

#details {
    position: absolute;
    width: 25%;
    padding: 20px 0px 100px 0px;
}

#more {
    position: absolute;
    right: 0px;
    width: 50%;
    columns: 110px 2;
    column-gap: 20px;
    padding: 20px 0px 100px 0px;
}

#more a {
    break-before: avoid;
    break-after: always;
}

.center {
    margin: 0;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, 0%);
}
   
@media screen and (max-width: 568px) {
    .menuContainer {
        background-color: transparent;
    }
}

@keyframes fade-bg {
    from {
        background-color: #FFF;
    } to {
        background-color: #111;
    };
}


