# machine-specific config files
.htaccess
.htpasswd 

# nano, emacs backups
*~

# media
*.gif
*.jpg
*.jpeg
*.JPG
*.png
*.pdf
*.svg
*.tif
*.tiff
*.mp4
*.webp
*.doc

# macos
.DS_Store

# bash 
backup
sync
log
