# AuthUserFile /Library/WebServer/Documents/.htpasswd
# AuthUserFile /var/www/.htpasswd
# AuthName "OPEN-RECORDS-GENERATOR"
# AuthType Basic
# Require valid-user

order deny,allow
deny from all
allow from 74.65.222.17

Options +FollowSymLinks -Indexes
# Options +FollowSymLinks +Indexes
# IndexIgnore */*

ErrorDocument 403 "you don't even *go* here."
# ErrorDocument 500 "is *this* thing on?"

# Turn on the RewriteEngine
RewriteEngine On

# delete trailing slash (not sure this works)
# or maybe it works -- but not for directories?
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_URI} (.+)/$
# RewriteRule ^ %1 [L,R=301]

# remove .php
# RewriteCond %{REQUEST_FILENAME}.php -f
# RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [L]

#RewriteCond %{QUERY_STRING} ^id=93$
#RewriteRule (.*) $1? [R=permanent]
#RewriteRule ^views.php?id=93$ /program [R=302,NC,L]

#RewriteCond %{QUERY_STRING} ^id=.*752.*$
#RewriteRule (.*) /library$2 [QSD,R=302,NC,L]
#QSD works only on apache 2.4 or later

# redirect /consult-the-archive to /archive
RewriteRule ^consult-the-archive$ /archive [R=302,NC,L]

# relative path to absolute path
# redirect all /xxx/xxx/editions to /editions
RewriteRule ^.*/.*/editions$ /editions [R=302,NC,L]

# direct everything to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ index.php [L]

# change upload limit
php_value upload_max_filesize 100M
php_value post_max_size 102M
