*{
    padding: 0;
    margin: 0;
}
body { 
    /* workaround for fixed div rendering in safari */
    /*-webkit-font-smoothing: subpixel-antialiased;*/
        color: #000;
        background: #FFF;
    }

a {
        color: #000;
        text-decoration: none;
        border-bottom: solid 3px #000;
        }

a:active {
        text-decoration: none;
        border-bottom: solid 3px;
        }

a:hover {
        border-bottom: none;
        }

a:active {
        color: #F00;
        border-bottom: solid 3px #FFF;
        }


/* types */

.monaco {
        font-family: Monaco, "Lucida Console", monospace;
    }

.times {
        font-family: "Times New Roman", Times, serif;
        }

.helvetica {
        font-family: Helvetica, Arial, sans-serif;
        }


/* sizes */

.big {
        font-size:24px;
        line-height:27px;
    }

.medium {
        font-size:17px;
        line-height:19px;
        }
.listContainer .medium
{
    display: inline-block;
}
.small {
        font-size:10px;
        line-height:12px;
        }

/* styled */

.underlined {
        border-bottom: solid 3px;
    }

.not-underlined a {
        border-bottom: none;
    }


/* contents */

.logo {
        /* workaround for fixed div rendering in safari */
    -webkit-font-smoothing: subpixel-antialiased;
        }

.punctuation {
        font-family: Monaco, "Lucida Console", monospace;
    color: #000;
    }


/* ids */

#control {
        position: fixed;
        top: 10px;
        left: 10px;
    height: 100px;
    width: 100px;
    cursor:pointer;
    color:transparent;
}

#control:hover {
    color:#F00;
    background-color:#FFF;
    opacity:.5;
}


/* containers */
body.reverse
{
    background-color: #000;
    color: #fff;
}
body.reverse .black a
{
    border-color: #fff;
}
body.reverse .black a,
body.reverse .black
{
    color: #fff;
}
body.reverse .punctuation
{
    color: #fff;
}
body.reverse .round-btn
{
    background-color: #000;
}
body.reverse #search-btn
{
    background-image: url(../../media/svg/magnifying-glass-6-w.svg);
}
.logoContainer {
    z-index:99;
    /*top: 10px;*/
    /*left: 10px;*/
    /*float:left;*/
    /*width: 30%;*/
    /*margin-right: 50px;*/
    /*margin-bottom: 50px;*/
}

.homeContainer {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    position: relative;
    /*position: absolute;*/
    /*top: 10px;*/
    /*left: 10px;*/
    /*overflow: hidden; */
}

.mainContainer {
    /*position: absolute;*/
    /*top: 200px;*/
    /*left: 10px;*/
    width: 95%;
    margin: 0 auto;
    padding:20px;
    /*padding-top:3px;*/
    overflow: hidden; 
}

.blockContainer {
    position:relative; 
}
.logoContainer,
.blockContainer
{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    /*width: 100vw;*/
    width: 500px;
    min-height: 200px;
    margin-top: 200px;
    /*max-width: 100%;*/
    /*height: 100vh;*/
    /*background-color: #fff;*/
    /*padding: 25vw;*/
    box-sizing: border-box;
}
.homeContainer .blockContainer:before
{
    content: "\A";
    margin-bottom: 3px;
    white-space: pre;
    display: block;
}
.textContainer {
    top: 0px;
    left: 0px;
    /*display: block;*/
    float:left;
}

.listContainer {  
/*  float:left; */
    display: inline-block;
    vertical-align: top;
    
    padding-right:2%;
    padding-bottom:40px;
    width: 30%;
        
}

.listSmallContainer {  
/*  float:left; */
    display: inline-block;
    vertical-align: top;
    
    padding-right:60px;
    padding-bottom:30px;
    width: 150px;
}

.galleryContainer {
    position:relative; 
    padding-left:100px;
    padding-right:100px;
    padding-bottom:100px;
    overflow: hidden;
    }

.imageContainer {
    position:relative; 
    }

.imageContainerWrapper {
    padding-bottom: 1em;

}
.inline-img-container {
    display:inline-block;
    vertical-align: text-top;
    padding: 10px
}

.captionContainer {
    padding-top: 1em;
    padding-bottom: 10px;
}

.menuContainer {  
    position: fixed;
    bottom: 20px;
    left: 30px;
    width: 500px;           /* debug for iphone */
    clear: both; 
    }

.newsContainer {
        top: 0px;
        left: 0px;
        float:left;
        padding: 10px;
        width: 10%;
    height: 350px;
    /* overflow:auto; */
        }

.dateContainer {
    top: 0px;
    left: 0px;
    float:left;
    padding: 40px;
    width: 30%;
}

.instructionContainer {
    margin-right: 6px;
}

.fullContainer {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index:999;
    margin: 0px;
}

.centeredContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25%;
    margin-left: -10%;
    margin-top: -3%;
        z-index:1000;
    }
    
.subheadContainer {
    padding-bottom: 1em;
}

.subdateContainer {
    padding-top: 1em;
}

#gallery {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFF;
}

#gallery-ex,
#gallery-prev,
#gallery-next {
    position: fixed;
    width: 20px;
    padding: 10px;
    
    cursor: pointer;
}

#gallery-prev,
#gallery-next {
    top: 50%;
    transform: translateY(-50%);
}
#gallery-ex {
    top: 0px;
    right: 0px;
}

#gallery-prev {
    left: 0px;
}

#gallery-next {
    right: 0px;
}

#img-gallery {
    position: fixed;
    max-height: 90%;
    max-width: 90%;
    
}

#img-gallery-caption {
    position: fixed;
    max-height: 90%;
    max-width: 90%;
}

#library-search-container {
    display: inline-block;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 10;
}

#library-search-container form {
}

#library-search-container button {
    background-color: none;
    display: inline-block;
    height: 50px;
    width: 50px;
    background: none;
    border: none;
    cursor: pointer;
}

#library-search-container button:hover {
    opacity: 0.5;
}

#library-search-container input[type=text] {
    display: inline-block;
    padding: 10px;
    width: 300px;
    border: none;
    border-bottom: solid 3px #000;
}
    
#library-search-icon {
}

#library-search-field {
    /* border-bottom: 2px; */
}

#library-mode-switch {
    margin-bottom: 2em;
}

#library-mode-switch button {
  display: inline-block;
  width: 40%;
  height: 100px;
  background-color: #FFF;
  margin-right: 10px;
  border: 2px solid #555555;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

#library-mode-switch a button {
    opacity: 0.5;
}

#library-mode-switch a button:hover {
    opacity: 1.0;
}

#library-mode-switch a {
    border-bottom: none;
}


.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centerbottom {
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -2%);
}

.hidden {
    display: none;
}

.visible {
    display: inherit;
}


/* utility */

.thumb {
    width:200px;        
    }
.pad {
    padding:80px;  
    }

.hide {
        visibility: hidden;
        }

.show {
        visibility: visible;
        }

.clear {
    clear:both;
    }

.fixed {
    position: fixed;      
    }

.twocolumn {
        width:47%;
    }

.fourcolumn {
         width:23%;
    }

.doublewide {
        width:58%;
    }

.triplewide {
        width:85%;
    }

.fullwide {
    width: 100%;
}

.centered {
    margin-left: auto;
    margin-right: auto;        
    }

.floatPad {
        float:left;
        padding:50px;
        width: 50px;
        }

.floatPadwide {
        float:left;
        padding:50px;
        width: 400px;
       }

.animatePunctuation {
    /* add this to animate punctuation in a div */
    }

.target {
        cursor:pointer;
        }

.target:hover {
    opacity:.5;
}


/* colors */

.black {
        color: #000;
        }

.black a {
        color: #000;
        }

.white {
        color: #FFF;
        }

.white a {
        color: #FFF;
        }

.red {
        color: #F00;
        }
 
.red a {
        color: #F00;
        text-decoration: none;
        border-bottom: solid 3px #F00;
        }

.red a:hover {
        border-bottom: solid 3px #FFF;
        }

.redwhite {
        color: #FFF;
        }

.redwhite a {
        color: #FFF;
        text-decoration: none;
        border-bottom: solid 3px #F00;
        }

.redwhite a:hover {
        border-bottom: solid 3px #FFF;
        }

.greybox {
        background-color: #EEE;
        }

.redbox {
        background-color: #FCC;
        }

.bluebox {
        background-color: #CCF;
        }

.greenbox {
        background-color: #CFC;
        }

.transparent {
    opacity:0.5;
        }

#menuContainer
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    width: 100vw;
    max-width: 100%;
    background-color: #000;
    color: #fff;
    height: 100vh;
    display: none;

}
#menuContainer a
{
    color: #fff;
    display: inline-block;
    margin-bottom: 10px;
    border-bottom: solid 5px #fff;
}
#menuContainer a:hover
{
    border-bottom: solid 5px transparent;
}
#menu-wrapper
{
    position: absolute;
    /*white-space: nowrap;*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.round-btn
{
    padding: 10px 15px 8px 15px;
    border-radius: 18px;
    background-color: #fff;
    cursor: pointer;
}
.round-btn.small
{
    padding: 8px 10px;
    border-radius: 14px;
}
.round-btn:active
{
    background-color: #ddd;
}
#menu-btn
{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}
#menu-btn:hover
{
    background-color: #ddd;
}
#menu-btn:active
{
    background-color: #000;
    color: #fff;
}
#close-menu-btn
{
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #000;
    color: #fff;
}
#close-menu-btn:hover
{
    background-color: #ddd;
}
#close-menu-btn:active
{
    background-color: #fff;
    color: #000;
}
#search-btn
{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    /*padding: 10px 15px;*/
    /*border-radius: 19px;*/
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-image: url(../../media/svg/magnifying-glass-6-k.svg);
    background-size: 100%;
}
.continue-btn
{
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 100%);
    background-color: #fff;
    -webkit-box-shadow: -2px 3px 4px rgba(0,0,0,.5);
       -moz-box-shadow: -2px 3px 4px rgba(0,0,0,.5);
            box-shadow: -2px 3px 4px rgba(0,0,0,.5);
    /*filter: drop-shadow(-3px 4px 2px rgba(0,0,0,.5));*/
}
.white .continue-btn
{
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
.continue-btn:active
{
    -webkit-box-shadow: inset -1px 1px 3px rgba(0, 0, 0, .25);
       -moz-box-shadow: inset -1px 1px 3px rgba(0, 0, 0, .25);
            box-shadow: inset -1px 1px 3px rgba(0, 0, 0, .25);
}
#main-logo
{
    position: -webkit-sticky;
    position: sticky;
    top: 15px;
    min-height: initial;
    width: 42vw;
}
.viewing-menu #menuContainer
{
    display: block;
}
#searchPickerContainer
{
    background-color: #000;
    color: #fff;
    display: none;
}
.viewing-search #searchPickerContainer
{
    display: block;
    z-index: 1002;
}
.viewing-search #search-btn
{
    z-index: 1003;
    background-image: url('../../media/svg/ex-w.svg')
}
#search-picker
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    width: 400px;
    display: flex;

}
#search-input
{
    border: none;
    border-bottom: 4px solid #fff;
    /*width: 100%;*/
    padding: 5px 8px;
    background-color: transparent;
    color: #fff;
    width: calc(100% - 50px);
    /*width: 90%;*/
}
#search-input:focus
{
    background-color: #fff;
    color: #000;
    outline: none;
}
#commit-search-btn
{
    width: 50px;
    height: 50px;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
}

#searchContainer
{
    width: 500px;
    padding-top: 20px;
    /*margin-top: 200px;*/
    margin: 0px auto 0 auto;
    padding-bottom: 40px;
}
.search-item
{
    /*width: 50%;*/
    /*display: inline-block;*/
    vertical-align: top;
    box-sizing: border-box;
    margin-bottom: 40px;
    /*margin-left: 50px;*/
}
.search-item a
{

}
.search-item:nth-child(even)
{
    /*padding-left: 10px;*/
}
.search-item:nth-child(odd)
{
    /*padding-right: 10px;*/
}

/* temp */

.desktop {
    display: none;
}

@media screen and (max-width: 568px) {
    
    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    /* INDEX */
    .logoContainer {
        /*top: 0px;*/
        /*left: 0px;*/
        display: block;
        width: initial;
        margin-right: 0;
    }
    
    .fixed {
        position: absolute;
    }
    
    .homeContainer {
        top: 0px;
        left: 0px;
        /*
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;*/
        padding-bottom: 50px;
        width: 100%;
    }
    
    .logoContainer,
    .blockContainer,
    #searchContainer
    {
        width: 300px;
    }
    
    .menuContainer > a {
        color: #000;
        border-bottom: solid 3px #000;
        font-size: 6px;
    }

    .menuContainer {
        left: 0px;
        bottom: 0px;
        width: 100%;
        background-color: white;
        /*padding: 20px;*/
    }

    .menuContainer > .desktop {
        display: none;
    }
    
    /* VIEW */
    .mainContainer {
        left: 0px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
        padding: 0px;
        margin-bottom: 52px;
        padding-bottom: 52px;
    }
    
    .doublewide {
        width: 100%;
    }
    
    .listContainer {
        display: block;
        padding: 20px;
        width: initial;
    }
    
    .listContainer > .listContainer {
        padding: 0px;
        padding-bottom: 27px;
    }
/* 
    .menuContainer {
        position: relative;
    }
 */
    
    .galleryContainer {
        padding: 0px;
    }
    
    .imageContainerWrapper {
        
    }
    
    .imageContainer {
        padding: 20px;
    }
    /* 3/19 search bar for mobile */
    #library-search-container form *{
        vertical-align: middle;
    }
    #library-search-container{
        /* top: 70px; */
        /* top: 7px; */
        top: 40px;
    }
    #library-search-container.top{
        top: 0px;
    }
    #library-search-container input[type=text]{
        width: calc(100vw - 80px);
    }
    #library-search-container form {
        padding-top: 20px;
        background-color: #FFF;
    }
    #library-search-container input::placeholder {
        /* opacity: 0; */
    }
    #search-btn
    {
        right: 10px;
        bottom: 10px;
    }
    #menu-btn
    {
        top: 10px;
        left: 10px;
    }
    #menu-btn
    {
        -webkit-box-shadow: -2px 3px 4px rgba(0,0,0,.5);
           -moz-box-shadow: -2px 3px 4px rgba(0,0,0,.5);
                box-shadow: -2px 3px 4px rgba(0,0,0,.5);
    }
    #close-menu-btn
    {
        top: 10px;
        left: 10px;
        -webkit-box-shadow: -2px 3px 4px rgba(255,255,255,.5);
           -moz-box-shadow: -2px 3px 4px rgba(255,255,255,.5);
                box-shadow: -2px 3px 4px rgba(255,255,255,.5);
    }
    #search-picker
    {
        width: 300px;
    }
    .search-item
    {
        width: initial;
        display: block;
        /*vertical-align: top;*/
        /*box-sizing: border-box;*/
        margin-bottom: 40px;
    }
    .search-item:nth-child(even)
    {
        padding-left: 0;
    }
    .search-item:nth-child(odd)
    {
        padding-right: 0;
    }
    #main-logo
    {
        left: 0;
        margin-left: 90px;
        transform: none;
        width: auto;
    }
    .title-block
    {
        margin-left: 70px;
    }

}

/* 3/19 adjust font size of caption */
.captionContainer.small {
    font-size: 13px;
    line-height: 16px;
}

#gallery_static_ctner{
    /* background-color: #bbb; */
    padding-bottom: 40px;
}
#gallery_control_ctner{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0);  
}
#gallery_control_ctner > div{
    display: inline-block;
} 
#btn_prev, #btn_next{
    cursor: pointer;
}
#btn_prev{
    margin-right: 20px;
}
#btn_next{
    margin-left: 20px;
}
.nods{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid black;
    margin-right: 10px;
    cursor: pointer;
}
.nods:last-child{
    margin-right: 0;
}
.nods.active{
    background-color: #000;
}

.captionContainer.library {
    /* font-style: italic; */
    padding-top: 0px;
}

.italic {
    font-style: italic;
}

.subheadContainer.library {
    height: 3em;
}

#library-description {
    width: 90%;
    margin-bottom: 1em;
}

.listContainer.doublewide.library img {
    width: 100%;
}

.listContainer.not-underlined.library img {
    filter: grayscale(100%);
}

.listContainer.not-underlined.library img:hover {
    filter: none;
}



/* vertical iPad / horizontal iPhone */
@media screen and (max-width: 768px) {
}

/* vertical iPhone */
@media screen and (max-width: 500px) {
}
