* {
    padding: 0;
    margin: 0;
}

html {
    height: -webkit-fill-available;
}

body { 
    /* workaround for fixed div rendering in safari */
    /*-webkit-font-smoothing: subpixel-antialiased;*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome, Edge, Opera and Firefox */
    color: #000;
    background: #FFF;

    touch-action: manipulation;
}

body.reverse {
    background-color: #000;
    color: #fff;
}

body.reverse .black a {
    border-color: #fff;
}

body.reverse .black a,
body.reverse .black {
    color: #fff;
}

body.reverse .punctuation {
    color: #fff;
}

body.reverse .round-btn {
    background-color: #000;
}

body.reverse #search-btn {
    background-image: url(../../media/svg/magnifying-glass-6-w.svg);
}

body.hideGeneralSearch #search-btn {
    display: none;
}

body.home {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

a {
    color: #000;
    text-decoration: none;
    border-bottom: solid 3px #000;
}

a:active {
    text-decoration: none;
    border-bottom: solid 3px;
}

a:hover {
    border-bottom: none;
}

a:active {        
    color: #FFF;
    border-bottom: solid 3px #FFF;
}

b {
    font-weight: normal;
}

pre {
    font-family: inherit;
}



/* types */

.monaco {
        font-family: Monaco, "Lucida Console", monospace;
    }

.times {
        font-family: "Times New Roman", Times, serif;
        }

.helvetica {
        font-family: Helvetica, Arial, sans-serif;
        }


/* sizes */

.big {
        font-size:24px;
        line-height:27px;
    }

.medium {
        font-size:17px;
        line-height:19px;
        }
.listContainer .medium
{
    display: inline-block;
}

.small {
        font-size:10px;
        line-height:12px;
        }

/* styled */

.underlined {
    border-bottom: solid 3px;    
}

.not-underlined a {
    border-bottom: none;
}

/* contents */

.logo {        
    /* workaround for fixed div rendering in safari */
    -webkit-font-smoothing: subpixel-antialiased;
}

.punctuation {
    font-family: Monaco, "Lucida Console", monospace;
    color: #000;
}


/* ids */

#control {
        position: fixed;
        top: 10px;
    left: 10px;
    height: 100px;
    width: 100px;
    cursor:pointer;
    color:transparent;
}

#control:hover {
    color:#F00;
    background-color:#FFF;
    opacity:.5;
}

#news {
    position: relative;
}

/* containers */

#logoContainer {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 900;
    cursor: pointer;
}

#logo {
    display: inline-block;
}

#logo_mark {
    display: inline-block;
    width: 44px;
    height: 27px;
    cursor: pointer;
}

#loading_mark {
    width: 50px;
    height: 50px;
    background-image: url(../../media/svg/loading-6-k.svg);
    position: absolute;
    left: 0;
    top: -10px;
    animation: loading2 1.5s infinite linear;
    display: none;
}

#logo_text {
    z-index: -1;
}

.loading .homeContainer.random,
.loading #search-btn,
.loading #menu-btn {
    display: none;
}

.loading #logo_mark {
    visibility: hidden;
}

.loading #loading_mark {
    display: inline-block;
}

.viewing-search .black #logoContainer .fixed-black,
.viewing-menu .black #logoContainer .fixed-black {
    color: #fff;
}

.viewing-search .black #logoContainer .fixed-black .logo-text,
.viewing-menu .black #logoContainer .fixed-black .logo-text {
    border-bottom: 3px solid #fff;
}

.viewing-search .white #logoContainer,
.viewing-menu .white #logoContainer {
    color: #000;
}

.viewing-help #logoContainer {
    display: none;
}

#intro {
    display: none;
}

#intro a:first-child {
    display: block;
}

.homeContainer {
}

.homeContainer.random {
    width: 100vw;
    max-width: 100%;
    position: relative;
    padding-top: 180px;
    padding-bottom: 60px;
    box-sizing: border-box;
    background-color: initial;
}

.mainContainer {
    /*position: absolute;*/
    /*top: 200px;*/
    /*left: 10px;*/
    width: 95%;
    margin: 0 auto;
    padding:200px 20px 40px 20px;
    /*padding-top:3px;*/
    overflow: hidden; 
}

.blockContainer {
    top: 0;
    width: 300px;
    margin: 0 auto;
    min-height: 200px;
    box-sizing: border-box;
}

.logo_text_container {
    z-index: 99;
    top: 10px;
    left: 10px;
    float: left;
    padding: 20px;
    width: 30%;
    margin-right: 50px;
    margin-bottom: 50px;
}

.random {
    /* added to homeContainer when ?random */
}

.homeContainer.random {
    /* fallback for browsers that do not support custom properties */
    height: 100vh; 
}

.homeContainer.random .blockContainer {
    position: absolute;
    display: none;
    height: 50vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: none;
}

.homeContainer.random img {
    width: 100%;
}

.black .homeContainer .blockContainer span {
    color: #000 !important;
}

.white .homeContainer .blockContainer span {
    color: #fff !important;
}

.homeContainer.random .blockContainer:first-of-type {
    display: block;
}

.homeContainer.random .blockContainer div {	
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 100%;
}

.textContainer {
    top: 0px;
    left: 0px;
    /*display: block;*/
    float:left;
}

.listContainer {  
    display: inline-block;
    vertical-align: top;
    padding-right:1%;
    padding-bottom:40px;
    width: 32%;
}
.listContainer.lastListContainer
{
    padding-right: 0;
}
.columns {
    columns: 2;
    column-gap: 50px;
}

.listSmallContainer {  
/*  float:left; */
    display: inline-block;
    vertical-align: top;
    
    padding-right:60px;
    padding-bottom:30px;
    width: 150px;
}
.list-item
{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    padding-right: 2.5%;
    padding-bottom:40px;
}
.categoryContainer .list-item
{
    width: initial;
}
.galleryContainer {
    position:relative; 
    padding-left:100px;
    padding-right:100px;
    padding-bottom:100px;
    overflow: hidden;
    }

.imageContainer {
    position:relative; 
    }

.imageContainerWrapper {
    padding-bottom: 1em;

}
.inline-img-container {
    display:inline-block;
    vertical-align: text-top;
    padding: 10px
}

.captionContainer {
    padding-top: 1em;
    padding-bottom: 10px;
}

.menuContainer {  
    position: fixed;
    bottom: 20px;
    left: 30px;
    width: 500px;           /* debug for iphone */
    clear: both; 
    }

.newsContainer {
        top: 0px;
        left: 0px;
        float:left;
        padding: 10px;
        width: 10%;
    height: 350px;
    /* overflow:auto; */
        }

.dateContainer {
    top: 0px;
    left: 0px;
    float:left;
    padding: 40px;
    width: 30%;
}

.instructionContainer {
    margin-right: 6px;
}
.menu-item
{
    display: inline-block;
}
.fullContainer {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index:999;
    margin: 0px;
}

.centeredContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25%;
    margin-left: -10%;
    margin-top: -3%;
        z-index:1000;
    }
    
.subheadContainer {
    padding-bottom: 1em;
}

.subdateContainer {
    padding-top: 1em;
}

#deck {
    margin-top: 19px;
    padding-right: 50px;
}

#gallery {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFF;
}

#gallery-ex,
#gallery-prev,
#gallery-next {
    position: fixed;
    width: 20px;
    padding: 10px;
    
    cursor: pointer;
}

#gallery-prev,
#gallery-next {
    top: 50%;
    transform: translateY(-50%);
}
#gallery-ex {
    top: 0px;
    right: 0px;
}

#gallery-prev {
    left: 0px;
}

#gallery-next {
    right: 0px;
}

#img-gallery {
    position: fixed;
    max-height: 90%;
    max-width: 90%;
    
}

#img-gallery-caption {
    position: fixed;
    max-height: 90%;
    max-width: 90%;
}

#library-search-container {
    display: inline-block;
    position: fixed;
    /*top: 10px;*/
    /*right: 10px;*/
    bottom: 14px;
    right: 20px;
    z-index: 10;
}

#library-search-container form {
}

#library-search-container button {
    background-color: none;
    display: inline-block;
    height: 50px;
    width: 50px;
    background: none;
    border: none;
    cursor: pointer;
}

#library-search-container button:hover {
    opacity: 0.5;
}

#library-search-container input[type=text] {
    vertical-align: top;
    display: inline-block;
    padding: 10px;
    width: 300px;
    border: none;
    border-bottom: solid 3px #000;
}
    
#library-search-icon {
}

#library-search-field {
    /* border-bottom: 2px; */
}

#library-mode-switch-container {
    margin-bottom: 2em;
}

.mode-switch {
  display: inline-block;
  width: 40%;
  height: 100px;
  background-color: #FFF;
  margin-right: 10px;
  border: 2px solid #555555;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

#library-mode-switch-container a button {
    opacity: 0.5;
}

#library-mode-switch-container a button:hover {
    opacity: 1.0;
}

.mode-switch-container a {
    border-bottom: none;
}

#calender-mode-switch-container button.hover:hover,
#calender-mode-switch-container button.inactive
{
    opacity: 0.5;
}
#calender-mode-switch-container button.hover.inactive:hover
{
    opacity: 1;
}
#calender-mode-switch-container button:active
{
    background-color: #ddd;
    transition: none;
}
.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centerbottom {
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -2%);
}

.hidden {
    display: none;
}

.visible {
    display: inherit;
}
.transprent
{
    opacity: 0;
}

/* utility */

.thumb {
    width:200px;        
    }
.pad {
    padding:80px;  
    }

.hide {
        visibility: hidden;
        }

.show {
        visibility: visible;
        }

.clear {
    clear:both;
    }

.fixed {
    position: fixed;      
    }

.twocolumn {
        width:48%;
    }

.fourcolumn {
         width:23.5%;
    }

.doublewide {
        width:65.5%;
    }

.triplewide {
        width:85%;
    }

.fullwide {
    width: 100%;
}

.centered {
    margin-left: auto;
    margin-right: auto;        
    }

.floatPad {
        float:left;
        padding:50px;
        width: 50px;
        }

.floatPadwide {
        float:left;
        padding:50px;
        width: 400px;
       }

.animatePunctuation {
    /* add this to animate punctuation in a div */
    }

.target {
        cursor:pointer;
        }

.target:hover {
    opacity:.5;
}


/* colors */

.black,
.black a {
    color: #000;
}

.fixed-black,
.fixed-black a {
    color: #000 !important;
}

.white {
    color: #FFF;
}

.white a {
    color: #FFF;        
}

.red {
    color: #F00;
}
 
.red a {
    color: #F00;
    text-decoration: none;
    border-bottom: solid 3px #F00;
}

.red a:hover {
    border-bottom: solid 3px #FFF;
}

.white .red,
.white .red a {
    color: #FFF;
}

.greybox {
    background-color: #EEE;
}

.redbox {
    background-color: #FCC;
}

.bluebox {
    background-color: #CCF;
}

.greenbox {
    background-color: #CFC;
}

.transparent {
    opacity:0.5;
        }

#helpContainer,
#menuContainer
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    width: 100vw;
    max-width: 100%;
    background-color: #000;
    color: #fff;
    min-height: 100%;
    display: none;
    overflow: hidden;
}
#helpContainer a,
#menuContainer a
{
    color: #fff;
    display: inline-block;
    margin-bottom: 10px;
    border-bottom: solid 3px #fff;
}
#helpContainer a:hover,
#menuContainer a:hover
{
    border-bottom: solid 3px transparent;
}
#help-txt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;	
}

#menu-wrapper
{
    position: absolute;
    width: 100%;
    max-height: 100%;
    overflow: scroll;
    padding: 40px;
    box-sizing: border-box;
    /*white-space: nowrap;*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
#menu-wrapper::-webkit-scrollbar {
  display: none;
}
.round-btn
{
    padding: 10px 15px 8px 15px;
    border-radius: 18px;
    background-color: #fff;
    cursor: pointer;
}
.round-btn.small
{
    padding: 8px 10px;
    border-radius: 14px;
}
.round-btn:active
{
    background-color: #ddd;
}
#menu-btn
{
    width: 50px;
    height: 50px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    background-image: url('../../media/svg/hamburger-6-k.svg');
    cursor: pointer;
}

#close-menu-btn
{
    position: fixed;
    width: 50px;
    height: 50px;
    top: 20px;
    right: 20px;
    background-image: url('../../media/svg/ex-w.svg');
    cursor: pointer;
}
#close-menu-btn:hover
{
    /*background-color: #ddd;*/
}
#close-menu-btn:active
{
    /*background-color: #fff;*/
    /*color: #000;*/
}
#more-menu-btn{
    /*color: transparent;*/
    position: relative;
    cursor: pointer;
    /*border-bottom: 3px solid #fff;*/
    /*display: inline-block;*/
}
/*#more-menu-btn:after
{
    content: "MORE";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: block;
    color: #fff;
    border-bottom: 3px solid #fff;
}*/
#more-menu-btn:hover:after
{
    border-bottom: none;
}
.menu-level
{
    display: none;
}

#help-btn
{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    /*padding: 10px 15px;*/
    /*border-radius: 19px;*/
    /*width: 200px;*/
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-image: url(../../media/svg/question-mark-6-k.svg);
    background-size: 100%;
}
#close-help-btn
{
    position: fixed;
    width: 50px;
    height: 50px;
    top: 20px;
    left: 20px;
    background-image: url('../../media/svg/ex-w.svg');
    cursor: pointer;
    display: none;
    z-index:1005;
}
.viewing-help #close-help-btn
{
    display: block;
}

#search-btn
{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    /*padding: 10px 15px;*/
    /*border-radius: 19px;*/
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-image: url(../../media/svg/magnifying-glass-6-k.svg);
    background-size: 100%;
}
.continue-btn
{
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 100%);
    background-color: #fff;
    -webkit-box-shadow: -2px 3px 4px rgba(0,0,0,.5);
       -moz-box-shadow: -2px 3px 4px rgba(0,0,0,.5);
            box-shadow: -2px 3px 4px rgba(0,0,0,.5);
    /*filter: drop-shadow(-3px 4px 2px rgba(0,0,0,.5));*/
}
.white .continue-btn
{
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
.continue-btn:active
{
    -webkit-box-shadow: inset -1px 1px 3px rgba(0, 0, 0, .25);
       -moz-box-shadow: inset -1px 1px 3px rgba(0, 0, 0, .25);
            box-shadow: inset -1px 1px 3px rgba(0, 0, 0, .25);
}
#main-logo
{
    position: -webkit-sticky;
    position: sticky;
    top: 23px;
    min-height: initial;
    width: 500px;
}
.viewing-help #helpContainer,
.viewing-menu #menuContainer
{
    display: block;
}
.reverse #logoContainer,
.viewing-help .punctuation,
.viewing-menu .punctuation,
.viewing-search .punctuation,
.reverse .punctuation,
.viewing-help a,
.viewing-menu a,
.viewing-search a,
.reverse a
{
    color: #fff;
    border-color: #fff;
}

/*
.viewing-help #help-text {
    display: block;
}
*/

#searchPickerContainer
{
    background-color: #000;
    color: #fff;
    display: none;
}
.viewing-search #searchPickerContainer
{
    display: block;
    z-index: 1002;
}
.viewing-search #search-btn,
body.reverse.viewing-search #search-btn
{
    z-index: 1003;
    background-image: url('../../media/svg/ex-w.svg')
}
#search-picker
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    width: 400px;
    display: flex;

}
#search-input
{
    border: none;
    border-bottom: 4px solid #fff;
    /*width: 100%;*/
    padding: 5px 8px;
    background-color: transparent;
    color: #fff;
    width: calc(100% - 50px);
    /*width: 90%;*/
}
#search-input:focus
{
    background-color: #000;
    color: #fff;
    outline: none;
}
#commit-search-btn
{
    width: 50px;
    height: 50px;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
}

#searchContainer
{
    width: 500px;
    padding-top: 200px;
    /*margin-top: 200px;*/
    margin: 0px auto 0 auto;
    padding-bottom: 40px;
}
.search-item
{
    /*width: 50%;*/
    /*display: inline-block;*/
    vertical-align: top;
    box-sizing: border-box;
    margin-bottom: 40px;
    /*margin-left: 50px;*/
}

.search-item a {
}

.search-item:nth-child(even) {
    /*padding-left: 10px;*/
}

.search-item:nth-child(odd) {
    /*padding-right: 10px;*/
}

#_click {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 998;
    /*
    background-color: #FF0;
    opacity: 0.5;
    */
}

/* temp */

.desktop {
    display: none;
}
.orglink
{
    display: none;
}
.pink
{
    background-color: #d59c8b;
}


/* animation */

.svg-shadow {
  animation: svg-shadow 1.5s ease-in-out infinite alternate;
}

#filter {
    position: relative;
    display: block;
    top: 0px;
    left: 0px;
    width: auto;
    max-width: 75%;
    z-index: 1000;
    /*float: right;*/
    /*text-align: right;*/
    max-width: 65%;
}

#filter .year {
    display: inline-block;
    padding-left: 0px;
    margin-right: 15px;
    vertical-align: top;
}

#filter .month {
    display: inline-block;
    margin-right: 5px;
}

.year > li
{
    list-style-type: none;
    /*position: relative;*/
}
a.year.expanded
{
    color: #999;
}
#filter-2
{
    float: left;
    padding-left: 0;
}
#filter_container
{
    margin-bottom: 50px;
}
#filter_container a
{
    border-color: transparent;
}
#filter_container li a:hover
{
    border-bottom: 3px solid #000;
}
#filter_container:after{
    content: " ";
    display: block;
    height: 0;
    clear: both;
}
#filter-2 .year
{
    display: inline-block;
    margin-right: 5px;
    margin-left: 0;
}
.monthsContainer
{
    
    
}
.active .monthsContainer
{
    display: inline-block;
}
#filter_container li.active > a
{
    border-bottom: 3px solid #000;
}
.monthsContainer
{
    display: none;
    position: absolute;
    /*right: 10px;*/
    left: 0;
    transform: translate(0, 100%);
    width: 75vw;
}

/* 3/19 adjust font size of caption */
.captionContainer.small {
    font-size: 13px;
    line-height: 16px;
}

#gallery_static_ctner{
    /* background-color: #bbb; */
    padding-bottom: 40px;
}
#gallery_control_ctner{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0);  
}
#gallery_control_ctner > div{
    display: inline-block;
} 
#btn_prev, #btn_next{
    cursor: pointer;
}
#btn_prev{
    margin-right: 20px;
}
#btn_next{
    margin-left: 20px;
}
.nods{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid black;
    margin-right: 10px;
    cursor: pointer;
}
.nods:last-child{
    margin-right: 0;
}
.nods.active{
    background-color: #000;
}

.captionContainer.library {
    /* font-style: italic; */
    padding-top: 0px;
}

.italic {
    font-style: italic;
}

.subheadContainer.library {
    height: 3em;
}

#library-description {
    width: 90%;
    margin-bottom: 1em;
}

.listContainer.doublewide.library img {
    width: 100%;
}

.listContainer.not-underlined.library img {
    filter: grayscale(100%);
}

.listContainer.not-underlined.library img:hover {
    filter: none;
}

.homeContainer.random .blockContainer img {
    display: none;
}

.homeContainer.random .blockContainer.displaying_image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.homeContainer.random .blockContainer.displaying_image img{
    display: block;
}

.homeContainer.random .blockContainer.displaying_image #paragraph{
    display: none;
}
.block_link
{
    display: block;
    border-bottom: none;
}
.pseudo-link
{
    border-bottom: 3px solid #000;
}
.display-item
{
    border-bottom: none;
}
@keyframes svg-shadow {
  from {
    filter: drop-shadow( 0 0 5px #fff) drop-shadow( 0 0 15px #e60073) drop-shadow( 0 0 20px #e60073);
  }

  to {
    
    filter: drop-shadow( 0 0 20px #fff) drop-shadow( 0 0 25px #e60073) drop-shadow( 0 0 40px #e60073);
  }
}
@keyframes loading {
  0%
  {
    transform: rotate(360deg);
  }
  24.9%
  {
    transform: rotate(360deg);
  }
  25%
  {
    transform: rotate(270deg);
  }
  49.9%
  {
    transform: rotate(270deg);
  }
  50%
  {
    transform: rotate(180deg);
  }
  74.9%
  {
    transform: rotate(180deg);
  }
  75%
  {
    transform: rotate(90deg);
  }
  99.9%
  {
    transform: rotate(90deg);
  }
  100%
  {
    transform: rotate(0deg);
  }
}
@keyframes loading2 {
  0%
  {
    transform: rotate(360deg);
  }
  12.4%
  {
    transform: rotate(360deg);
  }
  12.5%
  {
    transform: rotate(315deg);
  }
  24.9%
  {
    transform: rotate(315deg);
  }
  25%
  {
    transform: rotate(270deg);
  }
  37.4%
  {
    transform: rotate(270deg);
  }
  37.5%
  {
    transform: rotate(225deg);
  }
  49.9%
  {
    transform: rotate(225deg);
  }
  50%
  {
    transform: rotate(180deg);
  }
  62.4%
  {
    transform: rotate(180deg);
  }
  62.5%
  {
    transform: rotate(135deg);
  }
  74.9%
  {
    transform: rotate(135deg);
  }
  75%
  {
    transform: rotate(90deg);
  }
  87.4%
  {
    transform: rotate(90deg);
  }
  87.5%
  {
    transform: rotate(45deg);
  }
  99.5%
  {
    transform: rotate(45deg);
  }
  100%
  {
    transform: rotate(0deg);
  }
}


@media screen and (max-width: 568px) {
    
    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    /* INDEX */
    #logo {
        display: none;
    }

    #logo_mark {
        display: block;
    }

    #logo_text {
        display: none;
    }

    .logoContainer {
        /*top: 0px;*/
        /*left: 0px;*/
        display: block;
        width: initial;
        margin-right: 0;
    }
    #helpContainer, 
    .blockContainer
    {
        width: 100vw;
        max-width: 100%;
        box-sizing: border-box;
    }
    .homeContainer.random .blockContainer,
    .homeContainer.random .blockContainer.displaying_image
    {
        position: fixed;
        max-height: 90%;
    }
    .homeContainer.random
    {
        height: auto;
    }
    .homeContainer.random .blockContainer img,
    .homeContainer.random .blockContainer div {    
        width: calc(100% - 40px);
    }
    #help-txt {
        width: calc(100% - 40px);
    }
    .fixed {
        position: absolute;
    }
    
    .homeContainer.random {
        top: 0px;
        left: 0px;
        /*
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;*/
        padding-bottom: 0px;
        padding-top: 0;
        width: 100%;
    }
    
    #searchContainer
    {
        width: 300px;
    }
    
    .menuContainer > a {
        color: #000;
        border-bottom: solid 3px #000;
        font-size: 6px;
    }

    .menuContainer {
        left: 0px;
        bottom: 0px;
        width: 100%;
        background-color: white;
        /*padding: 20px;*/
    }

    .menuContainer > .desktop {
        display: none;
    }
    
    /* VIEW */
    .mainContainer {
        left: 0px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
        margin-bottom: 52px;
        padding: 100px 0 52px 0;
    }
    
    .doublewide {
        width: 100%;
    }
    
    .listContainer {
        display: block;
        padding: 20px;
        width: initial;
    }

    .columns {
        columns: initial;
    }

    .list_item {
        padding: 0px;
        padding-bottom: 27px;
    }
    /* 
    .menuContainer {
        position: relative;
    }
    */
    
    .galleryContainer {
        padding: 0px;
    }
    
    .imageContainerWrapper {
        
    }
    
    .imageContainer {
        padding: 20px;
    }
    /* 3/19 search bar for mobile */

    #library-search-container form *{
        vertical-align: middle;
    }

    #library-search-container{
        /* top: 70px; */
        /* top: 7px; */
        top: 40px;
    }

    #library-search-container.top{
        top: 0px;
    }

    #library-search-container input[type=text]{
        width: calc(100vw - 80px);
    }

    #library-search-container form {
        padding-top: 20px;
        background-color: #FFF;
    }

    #library-search-container input::placeholder {
        /* opacity: 0; */
    }

    #search-btn {
        right: 10px;
        bottom: 10px;
    }

    #menu-btn,
    #close-menu-btn
    {
        top: 10px;
        right: 10px;
    }
    
    #search-picker {
        width: 300px;
    }

    .search-item {
        width: initial;
        display: block;
        /*vertical-align: top;*/
        /*box-sizing: border-box;*/
        margin-bottom: 40px;
    }

    .search-item:nth-child(even) {
        padding-left: 0;
    }

    .search-item:nth-child(odd) {
        padding-right: 0;
    }

    #main-logo {
        margin-left: 90px;
        top: 10px;
        width: auto;
    }

    .title-block {
    }

    #filter_container {
        padding-left: 20px;
        padding-right: 20px;
    }
}




/* vertical iPad / horizontal iPhone */
@media screen and (max-width: 768px) {
}

/* vertical iPhone */
@media screen and (max-width: 500px) {
}
